<h1>Product page for '<%= @product.name %>'</h1>
<p>Price: $<%= @product.price %></p>

<%= button_to "Add to cart", product_cart_path(@product), method: :put %>
<%= link_to "Back to procucts", products_path %>